<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/head :: head"></head>

<body class="profile-page sidebar-collapse">
<nav th:replace="fragment/nav :: nav"></nav>
<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../../static/img/city-profile.jpg'); height:200px; "></div>

<div class="main main-raised">
    <div class="container">
        <nav th:replace="fragment/inner_nav :: inner-nav"></nav>
            <div class="card-body">
                <div class="alert alert-default" id="status"></div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                        <th>Product Id</th>
                        <th>Winning Amount</th>
                        <th>Pending Balance</th>
                        <th>Bid Won Date</th>
                        </thead>
                        <tbody>
                        <tr th:each="bid: ${bidsWon}">
                            <td><span th:text="${bid.product.productId}"></span></td>
                            <td>$<span th:text="${bid.bidFinalAmount}"></span></td>
                            <td><span th:text="${bid.balanceAmount}"></span></td>
                            <td><span th:text="${bid.dateWon}"></span></td>
                            <td th:if="${not bid.hasCustomerPaid}"><button><a th:href="@{/bid/fullPayment/{bidWonId}(bidWonId=${bid.bidWonId})}">Pay Balance</a></button></td>
                            <td th:if="${bid.hasCustomerPaid and not bid.product.received}"><button id="receivedProductBtn" th:onclick="|productReceived(${bid.product.productId})|">Product Received</button></td>
                            <td th:if="${bid.hasCustomerPaid and bid.product.received}"><span th:text="${bid.bidWinner.firstName}"></span> thanks for bidding.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <br>
    </div>
</div>
<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>