<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/head :: head"></head>

<body class="profile-page sidebar-collapse">
<nav th:replace="fragment/nav :: nav"></nav>
<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../../static/img/city-profile.jpg'); height:200px; "></div>

<div class="main main-raised">
    <div class="container">
        <nav th:replace="fragment/inner_nav :: inner-nav"></nav>
        <div class="card-body" th:object="${bidWon}">
            <h3>Invoice to: </h3>
            <br><br>
            <b th:text="${bidWon.bidWinner.firstName}"></b>
            <br><br>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                    <th>Product Id</th>
                    <th>Item description</th>
                    <th>Qty</th>
                    <th>Price</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span th:text="${bidWon.product.productId}"></span></td>
                        <td>$<span th:text="${bidWon.product.name}"></span></td>
                        <td>1</td>
                        <td><span th:text="${bidWon.bidFinalAmount}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br><br><br>
            Thanks for doing business with us.
        </div>
        <br>
    </div>
</div>
<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>