<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/head :: head"></head>

<body class="profile-page sidebar-collapse">
<nav th:replace="fragment/nav :: nav"></nav>
<div class="page-header header-filter" data-parallax="true" th:style="'background-image: url(/img/city-profile.jpg); height:200px;'"
     style="background-image: url('../../static/img/city-profile.jpg'); height:200px; "></div>

<div class="main main-raised">
    <div class="container">
        <nav th:replace="fragment/inner_nav :: inner-nav"></nav>
        <div class="card" >
            <div class="card-body row" th:object="${product}">
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item" th:each="image, idx: ${imageList}" th:classappend="${idx.first} ? active : ''">
                                <img class="d-block w-100" style="height: 500px" th:src="@{${image}}" th:alt="slide" alt="image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6"><h4 class="card-title"><span th:text="*{name}"></span></h4>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted"><span th:text="*{description}"></span></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Bid due date:  <span th:text="*{bidDueDate}"></span></h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="font-size: 30px">
                                $<span th:text="${highestBidPrice}"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text" style="font-size: medium; font-weight: bold">
                                <a th:href="@{/bid/bidHistory/{productId}(productId = *{productId})}">[<span th:text="*{bidList.size()}"></span> bids]</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div th:if="${isVerified}">
                            <div class="col-md-9" th:if="${hasMadeDeposit}">
                                <div class="input-group no-border">
                                    <input type="text" id="bidPrice" class="form-control" style="width: 30px; height: 50px; margin-right: 50px; border: 2px solid #999999;" placeholder="Enter bid">

                                    <button id="placeBidButton" th:onclick="|placeBid(*{productId})|" class="btn btn-primary btn-just-icon" style="width: 200px; height: 46px">
                                        <h4 class="card-title" style="color: white; padding-bottom: 10px">Place bid</h4>
                                    </button>
                                    <p><b>Enter US $</b><span th:text="${highestBidPrice}" style="font-weight: bold"></span> <b> or more</b></p>
                                </div>
                                <div id="status-area" class="col-md-8"></div>
                            </div>
                            <button th:if="${not hasMadeDeposit}" class="btn btn-primary btn-just-icon" style="width: 200px; height: 46px">
                                <h4 class="card-title" style="color: white; padding-bottom: 10px">
                                    <a th:href="@{/bid/deposit/{productId}(productId= *{productId})}">Make Deposit</a>
                                </h4>
                            </button>
                        </div>
                        <p class="alert-warning alert" th:if="${not isVerified}">To be eligible for bidding, please verify your account.</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <p><b>Shipping:</b></p>
                        </div>
                        <div class="col-md-10">
                            <p><b>Free</b> Expedited Shipping </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>