<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Admin Menu </h1>

<!--
<label>Create product category - cannot be duplicated</label>
<label>Update product category</label>
<label>Delete Product category, cannot delete when has products in this category</label>
<label>List all product category</label>-->
<a th:href="@{/category_show}">Categories Menu</a>

<br>
<!--
•	Verify Customers & Sellers : The Administrator verifies new users when the online auctioning
also approve authorized seller/customer after registration.
•	You can choose to connect to DMV datasource API, or fake checking
-->

<a th:href="@{/show_user}">User information</a>
<br>
<a  th:href="${'/logout'}">Logout</a>

<a th:href="@{/infinite_scroll}">infinite_scroll</a>

</body>
</html>