<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User Information</h1>

<table>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <tr>
        <th>Product ID</th>
        <th>Product Description</th>
        <th>Product Starting Price</th>


    </tr>
    <tr th:each="product : ${allProductsByCotegoryId}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.startingPrice}"></td>

    </tr>
</table>
</body>
</html>