<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Show ProductList</h1>


<table>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
    </tr>
    <tr th:each="produc : ${productList}">
        <td th:text="${produc.id}">category_id</td>
        <td th:text="${produc.name}">name</td>
    </tr>
</table>
</body>
</html>