<nav class="navbar navbar-expand-lg" th:fragment="inner-nav" style="background-color: #e9ecef;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="btn-group" role="group">
            <button th:if="${seller=='6'}" type="button" class="btn btn-secondary"><a th:href="@{/myProducts}" th:text="#{form.sellerView}"> View My Products</a></button>
            <button type="button" class="btn btn-secondary">Bids won</button>
            <button type="button" class="btn btn-secondary">Bid history</button>
            <button type="button" class="btn btn-secondary"><a th:href="@{/home}" th:text="#{form.home}">Home</a></button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item" style="color: #9124a3; margin-right: 23px; ">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        Categories
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a class="dropdown-item" href="#">Antiques</a>
                        <a class="dropdown-item" href="#">Books</a>
                        <a class="dropdown-item" href="#">Computers</a>
                        <a class="dropdown-item" href="#">Watches</a>
                        <a class="dropdown-item" href="#">Phones</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Jewelry</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="../product/product_form.html" th:href="@{/product/add}" class="btn btn-success btn-raised btn-fab btn-round">
                        <i class="material-icons">add</i>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>