
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
     id="sectionsNav" th:fragment="nav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">
                <b>Auction</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end ">
            <ul class="navbar-nav ">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">person</i>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>