<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragment/head :: head"></head>

<body class="login-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          Auction System </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/register}">
              <i class="material-icons">unarchive</i> Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" th:style="'background-image: url(/img/bg2.jpg);'" style="background-image: url('../../static/img/bg2.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST" th:action="@{/login}">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Login</h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <p class="description text-center">Or Be Classical</p>
              <div class="card-body">
<!--                <div class="input-group">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text">-->
<!--                      <i class="material-icons">face</i>-->
<!--                    </span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="First Name...">-->
<!--                </div>-->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input class="form-control" type="text" id="email" name="email"  th:placeholder="email"/>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input class="form-control" type="password" id="password" name="password" th:placeholder="Password.."/>
                </div>
                <div th:if="${loginError}">
                  <p style="color: red">Email or Password incorrect....</p>
                </div>
                <div>
                      <span><input type="checkbox" name="remember-me" /> Remember Me?</span>
                      <span><a th:href="@{/ResetPassword}">Forgot Password?</a></span>
                </div>
              </div>
              <div class="footer text-center">
                <button class="btn btn-primary btn-round btn-lg" name="Submit" value="Login" type="Submit" th:text="Login">Login</button>
<!--                <a href="#pablo" class="btn btn-primary btn-round btn-lg">Login</a>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>