<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragment/head :: head"></head>

<body class="profile-page sidebar-collapse">

<div class="page-header header-filter" data-parallax="true" th:style="'background-image: url(/img/city-profile.jpg); height:200px;'"
     style="background-image: url('../../static/img/city-profile.jpg'); height:200px; "></div>

          <div class="main main-raised">
            <div class="profile-content container">

              <nav class="navbar navbar-expand-lg" style="background-color: #e9ecef;">
                <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <ol class="breadcrumb" style="background-color: white; margin-bottom: 2px">
                    <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" th:href="@{/login}">Login</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Admin</a></li>
                  </ol>

                </div><!-- /.container-->
              </nav>
              <br>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Registration Page</h4>
                  <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                  <form  method="post" th:action="@{/register}" action="#" th:object="${user}">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email Address</label>
                          <input type="email" id="email" name="state" th:field="*{email}" class="form-control">
                          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" id="password" name="password" th:field="*{password}" class="form-control">
                          <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Driver Licence Number</label>
                          <input id="licenceNumber" name="licenceNumber"th:field="*{licenseNumber}" class="form-control">
                          <span th:if="${#fields.hasErrors('licenseNumber')}" th:errors="*{licenseNumber}" th:errorclass="error"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                          <input th:field="*{firstName}" class="form-control">
                          <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input th:field="*{lastName}" class="form-control">
                          <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Street</label>
                          <input id="street" name="street"th:field="*{address.street}" class="form-control">
                          <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" th:errorclass="error"></span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">City</label>
                          <input id="city" name="city"th:field="*{address.city}" class="form-control">
                          <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" th:errorclass="error"></span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">State</label>
                          <input id="state" name="state"th:field="*{address.state}" class="form-control">
                          <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" th:errorclass="error"></span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Zip Code</label>
                          <input id="zipcode" name="state"th:field="*{address.zipcode}" class="form-control">
                          <span th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}" th:errorclass="error">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="radio-inline" th:each="role : ${allTheRoles}">
                            <input type="radio" th:field="*{userRole}" th:value="${role.id}" />
                            <label th:text="${role.role}">Role</label>

                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Register</button>

                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

<footer th:replace="fragment/footer :: footer"></footer>

  </body>

</html>