<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ResetPassword</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
    <script type="text/javascript" th:src="@{src/main/resources/static/js/registration/main.js}"></script>
</head>
<body>

<h1>Reset Your Password .........</h1>

<form method="post" action="/resetPasswordController">

<p>Your Email Address : <input type="text" id="resetPass" name="resetPassword" placeholder="email address">
    <button type="submit" id="sendPassword">Send Password</button></p>
    <p th:text="${verificationExpired}" style="color: red"></p>

</form>
</body>
</html>