<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragment/head :: head"></head>

<body class="profile-page sidebar-collapse">

<!--<div class="page-header header-filter" data-parallax="true"-->
<!--     th:style="'background-image: url(/img/bg2.jpg);'" style="background-image: url('../static/img/bg2.jpg'); height:200px; "></div>-->

<div class="main main-raised">
    <div class="profile-content container">

        <nav class="navbar navbar-expand-lg" style="background-color: #e9ecef;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <ol class="breadcrumb" style="background-color: white; margin-bottom: 2px">
                    <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Admin</a></li>
                </ol>

            </div><!-- /.container-->
        </nav>
        <br>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Reset Password Page</h4>
                <p class="card-category">This is a form to update or change your password. </p>
            </div>
            <div class="card-body">
                <form  method="post" th:action="@{/user/changePassword}" th:object="${resetPass}" action="#" >

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating"> New Password *:</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="bmd-label-floating">New password </label>
                                <input id="firstPass" type="text" name="newPassword" th:field="*{newPassword}">
                                <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" th:errorclass="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Confirm Password *:</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="bmd-label-floating">New password </label>
                                <input id="secondPass" type="text" name="confirmPassword" th:field="*{confirmPassword}">
                                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="error"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="changePassUser" th:field="*{userId}" th:value="${changePassUser.userId}">
                        </div>
                        <div id="showError">
                            <p style='color:red;'>First Password and second does not match.</p>
                        </div>

                    </div>
                    <br/>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right">Change Password and Log In</button>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragment/footer :: footer"></footer>


<script type="text/javascript" th:src="@{/js/registration/main.js}"></script>

</body>

</html>