<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>

<h1>Reset Your Password in the Online Auction System</h1>

<form method="post" action="#" th:action="@{/user/changePassword}" th:object="${resetPass}"  >

<p>New Password * <input id="firstPass" type="text" name="newPassword" th:field="*{newPassword}">
    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" th:errorclass="error"></span></p>

    <p>Confirm Password * <input id="secondPass" type="text" name="confirmPassword" th:field="*{confirmPassword}">
        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="error"></span></p>

    <input type="hidden" name="changePassUser" th:field="*{userId}" th:value="${changePassUser.userId}">

    <div id="showError">
        <p style='color:red;'>First Password and second does not match.</p>
    </div>
<p><button type="submit">Change Password and Log In</button></p>

</form>



</body>
</html>