<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
    <script th:src="@{/static/js/jquery-min.js}"></script>
</head>
<body>
<p>The product</p>
<div th:object="${pgProductList}">

    <ul th:each="product:${pgProductList}">
        <li th:text ="${product.description}"></li>


    </ul>
    <a th:href="@{/products/1/startingPrice/{asc}(asc=true)}">1</a>
    <a th:href="@{/products/2/startingPrice/{asc}(asc=true)}">2</a>


</div>
</body>
</html>